@charset "UTF-8";
/*
    em HTML e id   = em CSS e # (so pode 1 elemento por HTML)
    em HTML e class= em CSS e . (posso ter varios)
*/

body {
    background-color: #d7f0b4d8;
}
h1 {
    color: green;
}
h1#principal {
    color: rgb(68, 156, 156);
    text-align: center;
    background-color: antiquewhite;
}
h2.basico {
    color: blue;
}
.intermediario {
    color: brown;
}

.avancado{
    color: blueviolet;
}
h2 {
    color:rgb(35, 54, 16) ;
}
.destaque{
    background-color: rgb(236, 236, 102);
}
