@charset "UTF-8";
 
body {
    background-color: rgb(196, 149, 149);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: rgb(6, 131, 240);
}
h2 {
    color: darkred;
}
p {
    color: blueviolet;
}