@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100% */
}
body {
    background-image: linear-gradient(to left, #FFF8F0, #9DD9D2);
}
main {
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 5px 5px 15px #009edc54;
}

h1 {
    color: #22831f;
    text-align: center;
    text-shadow: 1px 1px 0px #0a4107;
}

h2 {
    color: #3E8914;
}
p {
    text-align: justify;
}